<p>signup works!</p>
<form [formGroup]="singupformRef" (ngSubmit)="singupclick()">
  FirstName : <input type="text" name="fname" formControlName="firstname">
  <br/>
  LastName : <input type="text" name="lname" formControlName="lastname">
  <br/>

  UserName : <input type="text" name="username" formControlName="username">
  <br/>
  Password : <input type="password" name="password" formControlName="password">
  <br/>
  <input type="submit" value="signup" >
  <input type="reset" value="clear">
</form>
<h2>{{msg}}</h2>
